@import "../../scss/variables";

.root {
  li {
    display: inline-flex;
    margin-right: 2px;

    a {
      color: $green;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border: 1px solid $green;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: $green;
        color: #fff;
      }
    }
  }

  .paginateActive {
    background-color: $green !important;
    border-radius: 10px;
    a {
      color: #fff;

      &:hover {
        background-color: $green;
        color: #fff;
      }
    }
  }
}
