.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px 20px;
  padding-left: 42px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;
  position: relative;
  margin: 0 15px 0 15px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 1078px) {
    width: 300px;
  }

  @media (max-width: 705px) {
    margin-bottom: 10px;
  }

  @media (max-width: 430px) {
    width: 200px;
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 25px;
  top: 12px;
  z-index: 3;
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 25px;
  top: 15px;
  cursor: pointer;
  z-index: 3;

  &:hover {
    opacity: 0.8;
  }
}
